<h3>Cambiar Contraseña</h3>

<%= flash[:error] %><br/>

Introduzca su correo y pulse "Cambiar Contraseña".
<br/>

<% form_tag password_resets_path do %>

  <%= text_field_tag :email %>
  <br/><br/>
  <%= submit_tag "Cambiar Contraseña" %>
<% end %>