<h1>Cambiar Contraseña</h1>

<p>Introduzca su correo y pulse "Cambiar Contraseña".</p>

<% form_tag password_resets_path do %>
  <%= text_field_tag :email %>
  <%= submit_tag "Cambiar Contraseña" %>
<% end %>