
<p>
  <b>Nombre:</b>
  <%= @cluster.nombre %>
</p>

<p>
  <b>Descripción:</b>
  <%= @cluster.desc %>
</p>

<p>
  <b>Enlace al Bazar:</b>
  <%= @cluster.url %>
</p>

<p>
  <b>Total Empresas en este Bazar:</b>
  <%= @cluster.empresas %>
</p>

<br/>

<% if !current_user.nil? %>
<a class="volver-home-link" href="/home">&laquo; Volver a la página de búsquedas</a>
<% end %>

<a class="volver-home-link" href="/home/datos"> Los datos de este bazar &raquo;</a>
<a class="volver-home-link" href="/home/registrarse"> Darse de alta en este bazar &raquo;</a>
<a class="volver-home-link" href="/home/bazares"> ¿Qué es un Bazar? &raquo;</a>

