<div class="seccion-empresa ilumina5">
  <div class="empresa-fondo">
    <% img = logo_grande_helper(BZ_param('BazarId'), empresa.id) %>
    <% if !img.nil? %>
      <%= link_to(image_tag(img), bazarcms_empresa_path(empresa.id, :bazar_id => BZ_param('BazarId'))) %> 
    <% else %>
      <%= empresa.nombre -%>  
    <% end %>
    
    <div class="empresa-descripcion">
      <%= truncate_html(empresa.desc, :length => 60).html_safe -%>
    </div>

  </div>
</div>