<div class="seccion-cajon" onclick="">

 <div class="empresa-imagen">
  <a class="galeria" rel="galeria" href="<%= empresaimagen.imagen.url %>">
    <%= image_tag empresaimagen.imagen.url(:c223) %>
  </a>
 </div>

</div>