<div class="seccion-cajon ilumina5">
  <div class="seccion-cifra">
    <%= @totalempresas %> 
  </div>
  <div class="seccion-cifra-titulo">
    empresas 
  </div>
</div>

<div class="seccion-cajon ilumina5">
  <div class="seccion-cifra">
    <%= @totalofertas %> 
  </div>
  <div class="seccion-cifra-titulo">
    ofertas
  </div> 
</div>

<div class="seccion-cajon ilumina5">
  <div class="seccion-cifra">
    <%= @totaldemandas %> 
  </div>
  <div class="seccion-cifra-titulo">
    demandas
  </div>
</div>

<script>

$(document).ready(function() {
  
  // $('.ilumina5').transify({opacityOrig:.05,opacityNew:.40,fadeSpeed:500});
  
});

</script>
