<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
<%= stylesheet_link_tag(current_theme_stylesheet_path('jquery-ui-1.8.18.custom')) %>

<%= javascript_include_tag :defaults %>

<div style="background-color: white; width: 100%; height: 600px; margin-top: 0px">
  <div class="caja-empresa-editar-titulo">      

    <br/>
    <br/>
    <br/>
    <br/>
   
    <%= t(:text_enviando_el_correo) -%> 

  </div>


</div>

<script>

parent.location.reload();

</script>