<% @item = 0 %>
<% @total = @empresasresultados.count %>
<% @pagina = 1 %>

<% if @empresasresultados.count > 0 %>
  <%= render(:partial => "empresaresultado", :collection => @empresasresultados) %>
<% else %>
  <div class="seccion-cajon" >
   <div class="cajon-cuerpo">
     <%= t(:text_no_se_ha_encontrado_ninguna) %> <%= t(:text_prueba_con_otra_busqueda) %>
   </div>
  </div>
<% end %>