  <div class="seccion-cajon-imagen" >

    <%= form_for :ofertasimagen, :url => "", :html => { :multipart => true , :id => "subirfoto"} do |form| %>
   <div class="add-image">
     <label class="cabinet">
         <input type="file" class="file" id="ofertasimagen_imagen" name="ofertasimagen[imagen]" 
             onchange="subirimagen();" />

     </label>
   </div>
   <% end %>


    <div id="cargaimagen" class="add-item-texto">
      <%= t(:text_anadir_una_foto) -%>
    </div>
  </div>

<% if @imagenes.count > 0 %>
  <%= render(:partial => "ofertaimagen", :collection => @imagenes) %>
<% else %>
<% end %>
</div>