<!-- Sección menús -->
<div class="caja-seccion">
  <div class="caja-indice">
  &nbsp;
  </div>
  
  <div class="seccion-contenido">
    
    <div class="seccion-header">
      Resumen
    </div>

    <div class="seccion-subheader">
      Lo más nuevo y relevante
    </div>

    <div class="seccion-menu">
      
      <div class="seccion-menu-item ilumina5">
        Ofertas recomendadas
      </div>
      
      <div class="seccion-menu-item ilumina5">
        Demandas recomendadas
      </div>
      
      <div class="seccion-menu-item ilumina5">
        Empresas interesantes
      </div>
      
      <div class="seccion-menu-item ilumina5">
        Empresas nuevas en Bazar
      </div>
      
      <div class="seccion-menu-item ilumina5">
        Datos de este Bazar
      </div>
      
    </div>

  </div>

</div>

<!-- sección ofertas recomendadas -->

<div class="caja-seccion">
  <div class="caja-indice">
  Ofertas <br/>recomendadas
  </div>
  
  <div class="seccion-contenido">
    Ofertas recomendadas!!

  </div>

</div>

<!-- sección demandas recomendadas -->

<div class="caja-seccion">
  <div class="caja-indice">
  Demandas <br/>recomendadas
  </div>
  
  <div class="seccion-contenido">
    Demandas recomendadas!!

  </div>

</div>




<script>

$(document).ready(function() {

  $('.trans20').transify({opacityOrig:.20});
  $('.ilumina5').transify({opacityOrig:.05,opacityNew:.40,fadeSpeed:500});
  
 });


</script>