<div class="caja-seccion" id="ofertas">
  <div class="ficha-indice">
  test transparencia
  </div>
  
  <div class="seccion-contenido">

    
      <div class="seccion-cajon" onClick="">
        
        <div class="add-item-icono">
          <img src="<%= current_theme_image_path('add.png') %>" onClick="window.alert('click in fav');" >
        </div>

        <div class="item-delete-icono">
          <img src="<%= current_theme_image_path('borrar-white.png') %>" onClick="window.alert('click in fav');" >
        </div>
      </div>


        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgwhite05.png); background-repeat: repeat;">05</div>
        </div>
        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgwhite10.png); background-repeat: repeat;">10</div>
        </div>
        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgwhite20.png); background-repeat: repeat;">20</div>
        </div>        
        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgwhite30.png); background-repeat: repeat;">30</div>
        </div>
        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgwhite50.png); background-repeat: repeat;">50</div>
        </div>
        
        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgwhite70.png); background-repeat: repeat;">70</div>
        </div>  

        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgblack05.png); background-repeat: repeat;">05</div>
        </div>
        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgblack10.png); background-repeat: repeat;">10</div>
        </div>
        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgblack15.png); background-repeat: repeat;">15</div>
        </div>        
        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgblack35.png); background-repeat: repeat;">35</div>
        </div>
        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgblack40.png); background-repeat: repeat;">40</div>
        </div>

        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgblack55.png); background-repeat: repeat;">55</div>
        </div>  

        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgblack70.png); background-repeat: repeat;">70</div>
        </div>  

        <div>
          <div class="item-delete-icono2" style="background-image: url(/themes/bazar/stylesheets/bgblack99.png); background-repeat: repeat;">99</div>
        </div>  
        
        </div>

</div>

