body {
    background-color: #333;
}

.container {
    position: relative;
    width: 1100px;
	overflow: hidden;
    background-color: #FFF;
    margin: 0 auto !important;
    text-align: left;
}

.header {
    position: relative;
    width: 1100px;
    height: 60px;
    overflow: hidden;
    background-color: #3C97E8;
    margin: 0 auto !important;
    text-align: left;	
}

.footer {
    position: relative;
    width: 1100px;
    height: 60px;
    overflow: hidden;
    background-color: #3C97E8;
    margin: 0 auto !important;
    text-align: left;	
}

.caja-logo {
  float: left;
  width: 306px;
  height: 60px;
  background-color: #000;
}

#logo {
  float: right;
  width: 50px;
  margin: auto 20px auto auto;
}

#logo img {
  float: right;
  margin: 10px;
}

#caja-nombre {
  width: 200px;
  height: 60px;
  float: right;
}

h1 {
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size:20px;
  color: #fff;
  padding: 0px;
  margin: 7px;
}

h1 a {
  color: #fff;
  text-decoration:none;
}

h2 {
  font-family:Helvetica,sans-serif;
  font-weight: bold;
  font-size:12px;
  color: #fff;
  padding: 0px;
  margin: 3px 3px 3px 7px;
}

a {
  text-decoration:none;
}

/* enlaces publicos */ 

#socioenlaces {
  float: left;
  bottom: 0px;
  background-color: #000;
  width: 121px;
  height: 60px;
  margin: 0 0 0 1px;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size: 14px;
}

#socioenlaces a {
  color: #fff;
  text-decoration: none;
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size: 14px;
}

