body {
    background-color: #566477;
}

.container {
    position: relative;
    width: 1100px;
    overflow: hidden;
    background-image: url(../images/queesbazar/fondo.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    margin: 0 auto !important;
    text-align: left;
}

.header {
    position: relative;
    width: 1100px;
    height: 60px;
    overflow: hidden;
    background-image: url(../images/queesbazar/fondo-header.png);
    background-position: 0 0;
    margin: 0 auto !important;
    text-align: left;	
}

.footer {
    position: relative;
    width: 1100px;
    height: 60px;
    background-color: #000;
    overflow: hidden;
    margin: 0 auto !important;
    text-align: left;	
}

.caja-logo {
  float: left;
  width: 190px;
  height: 60px;
}

.caja-entrar {
  float: right;
  width: 90px;
  height: 60px;
  margin: 17px 20px !important;
}

#logo {
  float: right;
  width: 150px;
  margin: auto auto auto auto;
}

#logo img {
  float: right;
  margin: 10px;
}

#caja-nombre {
  width: 200px;
  height: 60px;
  float: right;
}

h1 {
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size:20px;
  color: #fff;
  padding: 0px;
  margin: 7px;
}

h1 a {
  color: #fff;
  text-decoration:none;
}

h2 {
  font-family:Helvetica,sans-serif;
  font-weight: bold;
  font-size:12px;
  color: #fff;
  padding: 0px;
  margin: 3px 3px 3px 7px;
}

a {
  text-decoration:none;
}

/* enlaces publicos */ 

#socioenlaces {
  float: right;
  bottom: 0px;
  width: 121px;
  height: 60px;
  margin: 0 0 0 1px;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size: 14px;
}

#socioenlaces a {
  color: #fff;
  text-decoration: none;
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size: 14px;
}

