<h1>Listing roles_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roles_users.each do |roles| %>
  <tr>
	<td><%= roles.user_id %></td>
    <td><%= roles.rol_id %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Roles user', new_roles_user_path %>
