<p><b>Ejemplo 2 Como obtener que empresas hay en un bazar - Proyecto Bazar</b></p>

<p><b>Función:</b></p>

<p>http://enlace-del-bazar/api/empresas.[ xml | json ]</p>

<p><b>Descripción</b></p>

<p>Con esta llamada del API te devuelve las empresas que están de un bazar.</p>

<p><b>Ejemplo:</b></p>

<p>http://bazar.garumfundatio.org/api/empresas.json</p>

<p><b>Resultado:</b></p>

<p><a href="#" onclick="$('#resultado').load('/api/empresas.xml');">XML</a> | <a href="#" onclick="$('#resultado').load('/api/empresas.json');">JSON</a></p>

<xmp id="resultado">
Seleccione el tipo de resultado que desea ver
</xmp>

<p><b>Formatos Disponibles:</b></p>

<p>XML, JSON</p>