<p><b>Ejemplo 1 Como obtener informaci贸n de un Bazar - Proyecto Bazar</b></p>

<p><b>Funci贸n:</b></p>

<p>http://enlace-del-bazar/api/info.[xml|json]</p>

<p><b>Descripci贸n</b></p>

<p>Con esta llamada del API te devuelve la informaci贸n general de un bazar.</p>

<p><b>Ejemplo:</b></p>

<p>http://bazar.garumfundatio.org/api/info.xml</p>

<p><b>Resultado:</b></p>

<p><a href="#" onclick="$('#resultado').load('/api/info.xml');">XML</a> | <a href="#" onclick="$('#resultado').load('/api/info.json');">JSON</a> | <a href="#" onclick="$('#resultado').load('/api/info.html');">HTML</a></p>

<xmp id="resultado">
Seleccione el tipo de resultado que desea ver
</xmp>

<p><b>Formatos Disponibles:</b></p>

<p>XML, JSON, HTML</p>