<p><b>Ejemplo 3 Como obtener información de una empresa - Proyecto Bazar</b></p>

<p><b>Función:</b></p>

<p>http://enlace-del-bazar/api/infoempresa.[ xml | json ]/idempresa</p>

<p><b>Descripción</b></p>

<p>Con esta llamada del API obtienes la información de una empresa. Es necesario poner el código de la empresa al final del enlace.</p>

<p><b>Ejemplo:</b></p>

<p>http://bazar.garumfundatio.org/api/infoempresa.xml/5</p>

<p><b>Resultado:</b></p>

<p><a href="#" onclick="$('#resultado').load('http://bazar.garumfundatio.org/api/infoempresa.xml/5');">XML</a> | <a href="#" onclick="$('#resultado').load('http://bazar.garumfundatio.org/api/infoempresa.json/5');">JSON</a> </p>

<xmp id="resultado">
Seleccione el tipo de resultado que desea ver
</xmp>

<p><b>Formatos Disponibles:</b></p>

<p>XML, JSON</p>