<p><b>Ejemplos API - Proyecto Bazar</b></p>

<p><b>API Bazares</b></p>

<p>APIs disponibles en cada uno de los bazares:</p>

<p><a href="/api/ejemploinfo">Información del Bazar</a></p>
<p><a href="/api/ejemploempresas">Empresas del Bazar</a></p>
<p><a href="/api/ejemploinfoempresa">Información de una Empresa</a></p>


<p><b>API Directorio Garum Fundatio</b></p>

<p>APIs disponibles en el directorio de bazares:</p>
