<p><b>Ejemplos API - Proyecto Bazar</b></p>

<p>http://bazar.garumfundatio.org/api/info.xml</p>

<p>Al hacerlo te devolverá un fichero en formato XML que habitualmente saben manejar otros programas o tu aplicación</p>