<p><b>Ejemplo 4 Como obtener los perfiles activos de un bazar - Proyecto Bazar</b></p>

<p><b>Función:</b></p>

<p>http://enlace-del-bazar/api/perfiles.[ xml | json ]</p>

<p><b>Descripción</b></p>

<p>Con esta llamada del API te devuelve los perfiles activos de un bazar.</p>

<p><b>Ejemplo:</b></p>

<p>http://bazar.garumfundatio.org/api/perfiles.json</p>

<p><b>Resultado:</b></p>

<p><a href="#" onclick="$('#resultado').load('/api/perfiles.xml');">XML</a> | <a href="#" onclick="$('#resultado').load('/api/perfiles.json');">JSON</a></p>

<xmp id="resultado">
Seleccione el tipo de resultado que desea ver
</xmp>

<p><b>Formatos Disponibles:</b></p>

<p>XML, JSON</p>