<p><b>Ejemplo 5 Como obtener los países activos de un bazar - Proyecto Bazar</b></p>

<p><b>Función:</b></p>

<p>http://enlace-del-bazar/api/paises.[ xml | json ]</p>

<p><b>Descripción</b></p>

<p>Con esta llamada del API te devuelve los paises activos de un bazar.</p>

<p><b>Ejemplo:</b></p>

<p>http://bazar.garumfundatio.org/api/paises.json</p>

<p><b>Resultado:</b></p>

<p><a href="#" onclick="$('#resultado').load('/api/paises.xml');">XML</a> | <a href="#" onclick="$('#resultado').load('/api/paises.json');">JSON</a></p>

<xmp id="resultado">
Seleccione el tipo de resultado que desea ver
</xmp>

<p><b>Formatos Disponibles:</b></p>

<p>XML, JSON</p>