<p><b>¿Que es el API del Proyecto Bazar?</b></p>

<p>API (Application Programming Interface) es la forma que tiene el Proyecto Bazar de compartir la información de la red de bazares con tus aplicaciones y/o herramientas.</p>

<p><b>¿Como se usa el API?</b></p>

<p>Nuestra intención es que sea muy sencillo extraer información de la red de bazares. Por ejemplo para obtener la información general de un bazar solo tendrías que abrir el siguiente enlace:</p>

<p>http://bazar.garumfundatio.org/api/info.xml</p>

<p>Al hacerlo te devolverá un fichero en formato XML que habitualmente saben manejar otros programas o tu aplicación</p>

<p><b>¿Por qué compartimos la información?</b></p>

<p>Por que es clave para agilizar las relaciones entre los usuarios del <a href="http://garumfundatio.org/bazar">Proyecto Bazar</a>. Cuanto más accesible y mejor es la calidad de la información que se maneja en una red, mejor es su rendimiento. Creemos en los proyectos abiertos en Internet.</p>

<p><b>Formatos soportados.</b></p>

<p>Los formatos soportados son: XML, JSON y CSV.</p>

<p><b>¿Hay limitaciones?</b></p>

<p>La información del Proyecto Bazar va a estar accesible para todo el mundo. Algunas llamadas a la API como la búsqueda de empresas estará solo disponible para usuarios registrado en cualquiera de los nodos que componen la red de bazares. Para encontrar un bazar puedes consultar el <a href="http://directorio.garumfundatio.org/#tabs-3">Directorio de Bazares</a> </p>

<p><b>Ejemplos del API</b></p>

<p>Hemos creado una página de ejemplos de como usar el API de Bazar. Cada una de las funciones disponibles cuenta con su descripción, ejemplos de uso y un ejemplo de que se obtiene cuando se invoca. Puedes ver toda esta información en la página de <a href="/api/ejemplos">Ejemplos del API del Proyecto Bazar</a></p>

<a href="/">Volver a la página principal</a>
