<h3 class="page-title"><%=t(:text_avisos_pendientes)%></h3>

<table class="tabla" cellspacing="0">

<% for aviso in @avisos %>
<tr>

	<td>
		<%= aviso[0].html_safe %>
	</td>
	
	<td>
		<a href="<%= aviso[2] %>"><%= aviso[1] %></a>
	</td>


</tr>

<% end %>

</table>
