<h3 class="page-title">Muchos bazares, un gran mercado</h3>

<div class="text-body">
    <p>¿Qué pedirías a un gran mercado electrónico para empresas?</p>

    <ul>
        <li>Que nadie se colocara en medio de las empresas pudiendo exigir un pago para que comercien entre si</li>
        <li>Que fuera robusto: que un problema en la red, un ataque informático o un cataclismo político en un determinado lugar no pusieran en cuestión el mercado en su conjunto.</li>
        <li>Que hubiera un sistema que sin embargo mantuviera fuera a spammers, productos fraudulentos y en general a quien mintiera o utilizara información engañosa estropeando la confianza en el propio mercado</li>
        <li>Que permitiera a las empresas de un grupo o un lugar trabajar juntos de manera preferente</li>
    </ul>
    <p>Hasta ahora las llamadas «grandes redes sociales» se han construido como una <a   href="http://lasindias.net/indianopedia/topología de redes">red centralizada</a>: una gran empresa ofrecía, a través de la web, el servicio a todos los usuarios. El lado bueno es que podía controlar con relativa facilidad que nadie incumpliera las condiciones de servicio y, no sin polémica ni problemas, mantener fuera a quienes trataran de utilizar la red con fines ilícitos o indeseados. El lado malo es que la centralización también tiene un coste para los usuarios: la extensión de los servicios centralizados ha convertido en comunes las noticias de saturaciones que llevan a la caída del servicio, de ataques de grupos más o menos organizados que buscan relevancia pública y de cortes en el acceso en países enteros en momentos de inestabilidad política.</p>
    <p>Además, las redes centralizadas no sólo son poco robustas -ya que toda la red depende de un único agente- sino que, a poco que crezca el mercado, ese agente, el «<em>dueño de la red</em>», tiene unos gastos gigantescos de infraestructura&#8230; lo que orienta toda su actividad a monetarizar y capturar para si, el valor de la red. </p>

    <p>Por eso un <strong>gran mercado electrónico no debe tener propietario</strong>: para empezar, debe basarse en <a   href="http://lasindias.net/indianopedia/software libre">software libre</a>, pero sobre todo, debe tener su infraestructura repartida entre muchos agentes, en muchos lugares y con muchas conexiones y ordenadores distintos. <strong>Debe tener la forma de una <a   href="http://lasindias.net/indianopedia/topología de redes">red distribuida</a></strong>.</p>
    <p>Pero ¿una red distribuida de qué? Podíamos haber pensado el gran mercado global como una red distribuida de empresas: cada cual mantendría su propia infraestructura y al conectarse a las demás se generaría la red. Pero los mercados globales reales nunca han sido así más que en las abstracciones de los economistas. Los mercados globales, desde el <a   href="http://garumfundatio.org/el-mito-del-garum?utm_source=lasindias.info/blog">garum</a> de la Antiguedad a las redes tecnológicas de hoy, no han aparecido impulsados por individuos aislados que se conectaban en un único espacio, sino por la interconexión de mercados locales más pequeños en los que los individuos se conocían previamente muy bien entre si. <strong>El basamento invisible de los mercados es la confianza</strong>.</p>
    <p>Por eso si cada instalación de Bazar es una red distribuida de empresas basada en la confianza, su resultado global es una <strong>gran red distribuida de «bazares»</strong>, de instalaciones con infraestructura propia, que permiten a cada empresa poder llegar a cualquier otra, al tiempo que aseguran que nadie puede apropiarse del mercado y que la estructura global es realmente robusta.</p>

    <p>Bazar, el software, sirve para construir «bazares» que se unen, desde el primer día, en un único gran mercado global.</p>
</div>
