

<div class="contenido-destacado">
<h3>Qué es Bazar</h3>
<p><strong>Bazar</strong> es un generador de mercados que sirve a las empresas y los emprendedores para aumentar sus ventas y mejorar sus estrategias de compras, al tiempo que les facilita establecer alianzas, conocer mejor su sector y posicionarse en mercados internacionales vendiendo desde el primer día.</p>
<p>El corazón de Bazar es un sistema de ofertas y pedidos optimizado para ayudar a cada empresa a encontrar nuevos clientes, distribuidores y proveedores.</p>
<p>Bazar incorporará módulos de rating, e-learning, arbitraje, mensajería interna, publicación de contenidos y muchos más.</p>

</div>

<div class="contenidos-secundarios tres">

<div>
<h4>Noticias</h4>
<span class="fecha">11-01-2011</span>
<h3>¿Quieres empezar a usar Bazar?</h3>
<p>Si quieres ser de los primeros en usarlo, sugerirnos mejoras o simplemente darle un vistazo, escribenos a info (arroba) garumfundatio.org y te enviaremos una invitación.</p>

<span class="fecha">10-12-2010</span>
<h3>Ya estamos online</h3>
<p>La primera de beta de Bazar ya está operativa.</p>
</div>

<div>
<h4>Nuevas Empresas</h4>
<ul>
<li><a href="#">geofun factory (bazar)</a></li>
<li><a href="#">Sabor e Arte S. Coop.</a></li>
<li><a href="#">Jigging Corp</a></li>
<li><a href="#">El Arte de las Cosas</a></li>
<li><a href="#">Las Indias</a></li>
<ul>
</div>

<div>
<h4>Sobre este bazar</h4>
<p>Bazar-Tatooine es un nodo de Bazar impulsado por Tatooine. Este nodo agrupa empresas de dintintos sectores con almenos una sede en Tatooine.</p>
<p>Si eres una empresa, estas interesada en formar parte de este nodo de Bazar y tienes almenos una sede en Tatooine envianos tus datos de contacto a info@tatooine.gx.</p>
</div>

</div><!-- fin .contenidos-secundarios -->

<div class="contenidos-terciarios" id="nube">
<h4>Nube de Tags de este bazar</h4>
<div>
               [aquí va la nube de tags]
</div>
</div>
