<% if (!Bazarcms::Empresa.nil?) then %>
	<div id="empresas">
	
		<script>
		$('#empresas').load("/bazarcms/dashboard");
		</script>
	</div>
<% else %>
Instale el módulo de bazarcms, no parece que este instalado.
<% end %>