
<div id="cajabusqueda">
<div class="demo">

<p class="busqueda-principal">
<input id="busca" name="busqueda" size="30" type="text">

</p>

<a id="busqueda-link" href="#busqueda-busqueda">Búsqueda Avanzada</a>
<script>
$('#busqueda-link').click(function() {
  $('#avanzada').toggle('slow');
});
</script>


	<style>
	#demo-frame > div.demo { padding: 1px !important; };
	</style>
	
	<script>
	<%= Bazarcms::Empresasdato.listaRE %>
	<%= Bazarcms::Empresasdato.listaRD %>
	
	$(function() {
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: maxRE,
			values: [ 0, maxRE ],
			slide: function( event, ui ) {
				$( "#empleados" ).val( "Entre: " + listaRE[ui.values[ 0 ]] + " y " + listaRE2[ui.values[ 1 ]]  );
				$( "#empleados2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		$( "#empleados" ).val( "Todos");
		$( "#empleados2" ).val( "0+"+maxRE);
		

		$( "#slider-range2" ).slider({
			range: true,
			min: 0,
			max: maxRD,
			values: [ 0, maxRD ],
			slide: function( event, ui ) {
				$( "#ventas" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
				$( "#ventas2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		
		$( "#compras" ).val( "Todos");
		$( "#compras2" ).val( "0+"+maxRD);

		$( "#ventas" ).val( "Todos");
		$( "#ventas2" ).val( "0+"+maxRD);

		$( "#slider-range3" ).slider({
			range: true,
			min: 0,
			max: maxRD,
			values: [ 0, maxRD ],
			slide: function( event, ui ) {
				$( "#compras" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
				$( "#compras2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});


		$( "#slider-range4" ).slider({
			range: true,
			min: 0,
			max: maxRD,
			values: [ 0, maxRD ],
			slide: function( event, ui ) {
				$( "#resultados" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
				$( "#resultados2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		$( "#resultados" ).val( "Todos");
		$( "#resultados2" ).val( "0+"+maxRD);

		
	});
	

	</script>

<div id="avanzada" style="display:none">

<h3>Filtrar por Perfiles</h3>

<div>
<table cellspacing="0" class="tabla">
	<tr><th>Ofrecen:</th><th>Sectores Seleccionados:</th></tr>
	<tr>
		<td valign="top" style="width: 400px;">
		<form action="#loquesea" >
		 	<label for="query1">Buscar en sectores</label> <input type="text" name="q" id="query1" />
		 </form>
		</td>					
		<td valign="top" >
		<div id="filtroofertan">
			<p>Seleccione uno o varios sectores en la caja de búsqueda.</p>
		</div>
		</td>
	</tr>
</table>

</div>

<table cellspacing="0" class="tabla">
	<tr><th>Demandan:</th><th>Sectores Seleccionados:</th></tr>
	<tr>
		<td valign="top" style="width: 400px;">
		<form action="#loquesea" >
		 	<label for="query2">Buscar en sectores</label> <input type="text" name="q" id="query2" />
		 </form>
		</td>					
		<td valign="top">
			<div id="filtrodemandan">
				<p>Seleccione uno o varios sectores en la caja de búsqueda.</p>
			</div>
		</td>
	</tr>
</table>


<script type="text/javascript">
 //<![CDATA[

var a1;
var a2;
var tot1 = 0; 
var tot2 = 0;
var lis1 = [];
var lab1 = [];
var ayuda1 = [];
var html1 = "";
var lis2 = [];
var lab2 = [];
var ayuda2 = [];
var html2 = "";

function borraofertan(cual) {
	var ii;
	if (cual == 0 && tot1 == 0) {
		tot1 = 0;
	}
	else {

		var ii;
		for (ii = cual; ii < tot1 -1; ii++) {
			lis1[ii] = lis1[ii+1];
			lab1[ii] = lab1[ii+1];
			ayuda1[ii] = ayuda1[ii];
		}
		tot1 = tot1 - 1;
		
	}
	pintaofertan();
};

function pintaofertan() {

	
	if (tot1 == 0) {
		html1 = "";
		$('#filtroofertan').html("<p>Seleccione uno o varios sectores en la caja de búsqueda</p>").fadein('slow');
	}
	else {
		html1 = "";
		var ii = 0;
		for (ii = 0; ii < tot1; ii++) {
			html1 += "<p>"+lab1[ii];
			html1 += " <img src='/images/papelera.png' border='0' onclick='borraofertan("+ii+");'></p>";
			html1 += " <img src='/images/lupa.png' border='0' onclick='borraofertan("+ii+");'></p>";
			
		}
		$('#filtroofertan').html(html1);
	}
};


function borrademandan(cual) {
	var ii;
	if (cual == 0 && tot2 == 0) {
		tot2 = 0;
	}
	else {

		var ii;
		for (ii = cual; ii < tot2 -1; ii++) {
			lis2[ii] = lis2[ii+1];
			lab2[ii] = lab2[ii+1];
		}
		tot2 = tot2 - 1;
		
	}
	pintademandan();
};

function pintademandan() {

	
	if (tot2 == 0) {
		html2 = "";
		$('#filtrodemandan').html("<p>Seleccione uno o varios sectores en la caja de búsqueda</p>").fadein('slow');
	}
	else {
		html2 = "";
		var ii = 0;
		for (ii = 0; ii < tot2; ii++) {
			html2 += "<p>"+lab2[ii];
			html2 += " <img src='/images/papelera.png' border='0' onclick='borrademandan("+ii+");'></p>";
		}
		$('#filtrodemandan').html(html2);
	}
};

jQuery(function() {
 
	var options = {
	  width: 300,
	  delimiter: /(,|;)\s*/,
	  deferRequestBy: 150, //miliseconds
	  params: { tipo: 'O' },
	  source: "/bazarcms/busquedaperfiles.json",
	  minLength: 2,
	  select: function(event, ui) {

		lis1[tot1] = ui.item.id;
		lab1[tot1] = ui.item.label;
		tot1 += 1;
		
		pintaofertan();
		$("#query1").val("");
		return false;
	  },
	  noCache: false //set to true, to disable caching
	};


	
	a1 = $('#query1').autocomplete(options);
  
	var options2 = {
	  width: 300,
	  delimiter: /(,|;)\s*/,
	  deferRequestBy: 150, //miliseconds
	  params: { tipo: 'O' },
	  source: "/bazarcms/busquedaperfiles.json",
	  minLength: 2,
	  select: function(event, ui) {
		
		lis2[tot2] = ui.item.id;
		lab2[tot2] = ui.item.label;
		tot2 += 1;
		$("#query2").val("");
		pintademandan();

		return false;
	  },
	  noCache: false //set to true, to disable caching
	};
 
	a2 = $('#query2').autocomplete(options2);

    $('#query1').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);
        return (code == 13) ? false : true;
    });

    $('#query2').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);
        return (code == 13) ? false : true;
    });

});
 
//]]>
</script>


<h3>Filtrar por Páis</h3>

<div>

	<table cellspacing="0" class="tabla">
		<tr><th>Países:</th><th>Países Seleccionados:</th></tr>
		<tr>
			<td>
			<form action="#loquesea" >
			 	Buscar Países <input type="text" name="q" id="query3" />
			 </form>
			</td>					
			<td>
				<div id="filtropaises">
					<p>Seleccione uno o varios países en la caja de búsqueda</p>
				</div>
			</td>
		</tr>
	</table>


</div>

<script type="text/javascript">
 //<![CDATA[

var a1;
 
jQuery(function() {
 
	var options = {
	  width: 300,
	  delimiter: /(,|;)\s*/,
	  deferRequestBy: 150, //miliseconds
	  params: { tipo: 'O' },
	  source: "/bazarcms/busquedaperfiles.json",
	  minLength: 2,
	  select: function(event, ui) {
	    $("#missectores").load('/bazarcms/addperfil?tipo=O&codigo='+ui.item.id);
		return false;
	  },
	  noCache: false //set to true, to disable caching
	};
 
	a1 = $('#query3').autocomplete(options);

	// desactivamos el enter 
	
    $('#query3').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);
        return (code == 13) ? false : true;
    });

});
 
//]]>
</script>


<h3>Filtrar por Datos Económicos</h3>

<table border="0" cellspacing="0">
	<tr>
		<td width="350px">
			<label for="empleados">Nº Empleados:</label>

		</td>
		<td width="200px">
			<div id="slider-range"></div>
		</td>
		<td>
            <input type="text" size="35" id="empleados" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
            <input type="hidden" id="empleados2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
	</tr>
</table>

<table border="0" cellspacing="0">
	<tr>
		<td width="350px">
			<label for="compras">Compras:</label>
		</td>
		<td width="200px">
			<div id="slider-range3"></div>
		</td>
		<td>
            <input type="text" size="35" id="compras" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
            <input type="hidden" id="compras2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
	</tr>
</table>

<table border="0" cellspacing="0">
	<tr>
		<td width="350px">
			<label for="ventas">Ventas:</label>
		</td>
		<td width="200px">
			<div id="slider-range2"></div>
		</td>
        <td>
            <input type="text" size="35" id="ventas" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
            <input type="hidden" id="ventas2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
	</tr>
</table>


<table border="0" cellspacing="0">
	<tr>
		<td width="350px">
			<label for="resultados">Resultados:</label>
		</td>
		<td width="200px">
			<div id="slider-range4"></div>
		</td>
		<td>
            <input type="text" size="35" id="resultados" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
            <input type="hidden" id="resultados2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
	</tr>
</table>

<h3>Ayuda Búsqueda Avanzada <a id="ayuda-busqueda-link" href="#ayuda-busqueda">Ver/ocultar</a></h3>
<script>
$('#ayuda-busqueda-link').click(function() {
  $('#ayuda-busqueda').toggle('slow');
});
</script>

     <div id="ayuda-busqueda">
          <ul id="pasos-container">
          <li class="paso" id="paso1">
               <div>Introduzca los términos de la búsqueda</div>
               <img src="/images/ayuda-busqueda-paso1.gif" alt="" />
          </li>
          <li class="paso" id="paso2">
               <div>Puede usar asteriscos o espacios para buscar por varias palabras.</div>
               <img src="/images/ayuda-busqueda-paso2.gif" alt="" />
          </li>
          <li class="paso" id="paso3">
               <div>Use los desplazadores para limitar la búsqueda.</div>
               <img src="/images/ayuda-busqueda-paso3.gif" alt="" />
          </li>
          <li class="paso" id="paso4">
               <div>Pulse Buscar para empezar la búsqueda</div>
               <img src="/images/ayuda-busqueda-paso4.gif" alt="" />
          </li>
          <li class="paso" id="paso5">
               <div>Progreso de la búsqueda</div>
               <img src="/images/ayuda-busqueda-paso5.gif" alt="" />
          </li>
          <li class="paso" id="paso6">
               <div>Navegue por los resultados.</div>
               <img src="/images/ayuda-busqueda-paso6.gif" alt="" />
          </li>
          </ul>

          <div class="pasos-nav-pyn">
          <a href="#" id="prev-paso">Anterior</a>
          <a href="#" id="next-paso">Siguiente</a>
          </div>

     </div><!-- /#ayuda-busqueda-->

     <script>
             $('#pasos-container')
                .before('<div id="pasos-nav">')
                .cycle({
                   fx:     'scrollHorz',
                   speed:  '500',
                   timeout: 0,
                   next:   '#next-paso',
                   prev:   '#prev-paso',
                   pager:  '#pasos-nav'
                });
     </script>


</div><!-- /#avanzada-->

<p id="opciones-busqueda">
  <span><label id="check-ofertas"><input type="radio" name="size"> Ofertas </label></span>
  <span><label id="check-demandas"><input type="radio" name="size"> Demandas </label></span>
  <span><label id="check-empresas"><input type="radio" name="size"> Empresas</label></span>
</p>


 <button>Buscar</button>
 <a href="#" id="publicar-link"><strong>Publicar </strong>Oferta / Demanda</a>
</div><!-- /.demo -->

</div><!-- /#cajabusqueda -->

<br />

<div id="estado" style="display: none; width:550px;" >
	<style>
		.ui-progressbar-value { background-image: url(/images/pbar-ani.gif); }
	</style>
	<script>
		$(function() {
			$( "#progressbar" ).progressbar({ value: 0});
		});
	</script>
	<div id="progressbar" style="display: none"></div>
	<br/>
	<div id="estadotexto" style="display: none"></div>
</div>

<div id="resultados">

</div><!-- /#resultados-->

<div id="lista">

</div>

<script>
	$(function() {

		$("button", ".demo").button();
		$("button", ".demo").click(function() {
			$('#lista').html('Enviando peticiones a los bazares');
			// $('#lista').load('/bazarcms/enviabusqueda?q='+escape($("#busca").val()));
			s = $("#busca").val();
			if (s.length == 0) {
				s = '*';
			}
			s = s.replace(/ /g, "+");
			emple = $("#empleados2").val();
			ventas = $("#ventas2").val();
			compras = $("#compras2").val();
			resultados = $("#resultados2").val();
			$('#avanzada').hide('slow');
			$("#estado").show();
			$("#progressbar").show();
			$("#estadotexto").show();
			
			$("#estadotexto").html('Buscando ...');
			$.ajax({
			  async:true, 
			  url: '/bazarcms/enviabusqueda?q='+s+'&qe='+emple+'&qv='+ventas+'&qc='+compras+'&qr='+resultados,
			  success: function(data) {
			    $('#lista').html(data);
				clearInterval(actualiza);
				
				$('#progressbar').hide();
				$("#progressbar").progressbar({ value: 0});
				
				$('#estadotexto').hide();
				$("#estadotexto").html('');
				
				clearInterval(actualiza);
			  }
			});
			
			var actualiza = setInterval(function()
		    {
				$.get('/bazarcms/estadobusqueda', function(data) {
					$("#progressbar").progressbar({ value: (data[0].empresasconsulta.total_respuestas * 100) / data[0].empresasconsulta.total_consultas});
					$("#estadotexto").html(data[0].empresasconsulta.total_resultados +' Empresas de '+ data[0].empresasconsulta.total_respuestas +' Bazares');
				});
		     },1000);
			
			
			return false; 
		});
	});
</script>


<div id="favoritos">

	<script>
	$('#favoritos').load("/favorito/dashboard");
	</script>
	
</div>

<div id="mensajes">

	<script>
	$('#mensajes').load("/mensaje/dashboard");
	</script>
	
</div>


<div id="actividades">

	<script>
	$('#actividades').load("/actividad/dashboard");
	</script>

</div>
