<% if !current_user.nil? %>
	<a class="volver-home-link" href="/home"><%=t(:text_volver_a_la_pagina_de_busquedas)%></a>
<% end %>

<h3 class="page-title"><%=t(:text_ubicaciones_de_las_empresas_de_este_bazar)%></h3>

<table id="results" class="tabla" cellspacing="0">

	<%= render(:partial => "ubicacion", :collection => @ubicaciones) %>
	
</table>

<br />
