<%= javascript_include_tag 'jquery.pageless' -%>

<div>

<% if @mensajes.count > 0 %>	
<table id="results" class="tabla" cellspacing="0">
	<% if params[:page].to_i == 1%>
	  <tr>
	    <th>De</th>
	    <th>Asunto</th>
	    <th>Fecha</th>
	    <th></th>
	  </tr>
	<% end %>

<%= render :partial => 'mensaje', :collection => @mensajes %>

</table>

<%= pageless(@mensajes.total_pages, mensajes_path) %>


<% else %>
	<% if params[:tipo] == 'N' %>
		<p>No hay notificaciones.</p>
	<% else %>
  		<p>No hay mensajes.</p>
	<% end %>
<% end %>


</div>
