
<table class="tabla">
  <tr>
    <th colspan="3">Notificaciones</th>
    <th colspan="3">Correos</th>
  </tr>
</table>

<%= render 'muestranotificaciones' %>

<br />

<%= link_to 'New Mensaje', new_mensaje_path %>
