<a class="volver-home-link" href="/home">Volver a la página de búsquedas</a>

	<% if (params[:tipo] == 'N') %>
    	<h3 class="page-title">Notificaciones</h3>
		<div class="opcion-mensajes"><%= link_to("Ver Mensajes", "/mensajes?tipo=M") %></div>
    <% else %>
		<h3 class="page-title">Mensajes</h3>
		<div class="opcion-mensajes"><%= link_to("Ver Notificaciones", "/mensajes?tipo=N") %></div>
	<% end %>


<%= render 'muestranotificaciones' %>
