<a class="volver-home-link" href="/home">Volver a la página de búsquedas</a>

<table class="tabla" cellspacing="0">
  <tr>
	<% if (params[:tipo] == 'N') %>
    	<th colspan="3">Notificaciones</th>
		<td colspan="3"><%= link_to("Ver Mensajes", "/mensajes?tipo=M") %></td>
    <% else %>
		<th colspan="3">Mensajes</th>
		<td colspan="3"><%= link_to("Ver Notificaciones", "/mensajes?tipo=N") %></td>
	<% end %>
	
  </tr>
</table>

<%= render 'muestranotificaciones' %>

<br />
