<% if @mensaje.tipo == 'M' %>
	<h3 class="page-title">Enviar Mensaje a todos los Usuarios</h3>
<% else %>
	<h3 class="page-title">Enviar Notificación a todos los Usuarios</h3>
<% end %>

<br />
<%= render 'form3' %>

<% if @mensaje.tipo == 'M' %>
	<%= link_to 'Volver a la lista de mensajes',"/mensajes?tipo=M" %>
<% else %>
	<%= link_to 'Volver a la lista de notificaciones',"/mensajes?tipo=N" %>
<% end %>