<h3 class="page-title">Empresas que sigo</h3>

<table class="tabla" cellspacing="0">

<% for fav in @favoritos %>
<tr>

	<td>

		<% if ( fav.bazar_id.to_i == BZ_param("BazarId").to_i ) %>
			<%= link_to(fav.nombre_empresa, bazarcms_empresa_path(fav.user_id)) %>
		<% else %> 
			<!-- TODO: visualizar la info de una empresa remota -->
			<%= fav.nombre_empresa %>
		<% end %>

	</td>

	<td width="70" style="text-align: center">
		<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{fav.empresa_id}&bazar_destino=#{fav.bazar_id}&nombre=#{fav.nombre_empresa}&tipo=M", :title => 'Enviar Mensaje de Correo' %>
	
		<%= helper_favo(fav.bazar_id, fav.empresa_id, fav.nombre_empresa, "cajafavoritos") %>
	</td>

</tr>
<% end %>

</table>
