<h3 class="page-title">Empresas que sigo</h3>

<table class="tabla" cellspacing="0">

<% for fav in @favoritos %>
<tr>

	<td>
		<%= link_to(fav.nombre_empresa, bazarcms_empresa_path(fav.empresa_id, :bazar_id => fav.bazar_id)) %>
	</td>

	<td class="dos-iconos">
		<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{fav.empresa_id}&bazar_destino=#{fav.bazar_id}&nombre=#{fav.nombre_empresa}&tipo=M", :title => 'Enviar Mensaje de Correo' %>
	
		<%= helper_favo(fav.bazar_id, fav.empresa_id, fav.nombre_empresa, "cajafavoritos") %>
	</td>

</tr>
<% end %>

</table>
<% if @total > 5 %>
	<%= link_to("Ver más favoritos #{@total-5} más &raquo;".html_safe, favoritos_path, :class => "volver-home-link") %>
<% end %>