<h3 class="page-title">Empresa que sigo</h3>

<table class="tabla" cellspacing="0">

<% for fav in @favoritos %>
<tr>

	<td>
		<%= link_to Bazarcms::Empresa.find(act.user_id).nombre, bazarcms_empresa_path(act.user_id) %>
	</td>

	<td>
		<%= act.desc %>
	</td>

	<td> 
		<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{act.user_id}&tipo=M", :title => 'Correo electrónico' %>
		<%= helper_favo(act.bazar_id, act.user_id, act.nombre_empresa, "actividad") %>
	</td>

</tr>
<% end %>

</table>
