<%= javascript_include_tag 'jquery.pageless' -%>

<a class="volver-home-link" href="/home">&laquo; Volver a la página de búsquedas</a>

<h3 class="page-title">Empresas que sigo</h3>

<table id="results" class="tabla" cellspacing="0">

	<%= render(:partial => "favorito", :collection => @favoritos) %>
	
</table>

<br />


<%= pageless(@favoritos.total_pages, favoritos_path) %>