<tr>
	<td>
		<%= link_to(pais.descripcion, paises_path+'/'+pais.friendly_id) %>
	</td>

	<td>
		<%= pais.total_empresas_bazar %> Empresas
	</td>

	<td>
		<%= pais.total_empresas_mercado %> Empresas
	</td>
</tr>