<% if !current_user.nil? %>
	<a class="volver-home-link" href="/home">&laquo; Volver a la página de búsquedas</a>
<% end %>

<h3 class="page-title">Actvidad del Bazar</h3>

<table id="results" class="tabla" cellspacing="0">

	<tr>
		<td>
			<b>Actividad:</b>
		</tr>
		<td>
			<%= @actividad.desc.html_safe %>
		</td>
		
	</tr>
	
	<tr>
		<td>
			<b>Fecha:</b>
		</tr>
		<td>
			<%= @actividad.fecha.strftime("%d-%m-%Y") %>
		</td>
		
	</tr>
	
	<tr>
		<td>
			<b>Empresa:</b>
		</tr>
		<td>
			<% empre = Bazarcms::Empresa.find(@actividad.user_id) %>
			<%= link_to(empre.nombre, '/bazarcms/empresas/show2/'+empre.friendly_id) %>
		</td>
		
	</tr>
	
</table>

<% if current_user.nil? %>

<br/>
<br/>

<b>Es necesario registrarse para poder usar Bazar al 100%</b>

<br/>
<br/>

<a class="volver-home-link" href="/home/datos"> Los datos de este bazar &raquo;</a>
<a class="volver-home-link" href="/home/registrarse"> Darse de alta en este bazar &raquo;</a>
<a class="volver-home-link" href="/home/bazares"> ¿Qué es un Bazar? &raquo;</a>

<% end %>



